<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="1000" height="600">
    <desc>ngCharts</desc>
    <defs>
        <clipPath id="highcharts-1">
            <rect x="0" y="0" width="914" height="717"></rect>
        </clipPath>
    </defs>
    <rect x="0" y="0" width="1000" height="400" strokeWidth="0" fill="#FFFFFF"></rect>

    <path fill="rgba(124,181,236,0.25)" d="M 0 0"></path>
    <path fill="rgba(67,67,72,0.25)" d="M 0 0"></path>
    <g zIndex="1">
        <path fill="none" ng-repeat="axis in chart.xAxis" ng-attr-d="{{axis.path}}" stroke="#C0C0C0" stroke-width="1"
              zIndex="1"
              opacity="1"></path>
    </g>
    <g zIndex="1">
        <path fill="none" ng-repeat="axis in chart.yAxis" ng-attr-d="{{axis.path}}" stroke="#C0C0C0" stroke-width="1"
              zIndex="1" opacity="1"></path>
    </g>
    <g zIndex="2"></g>
    <g zIndex="2"></g>
    <g zIndex="3">
        <g visibility="visible" zIndex="0.1" transform="scale(1 1)"
           clip-path="url(#highcharts-1)">
            <path fill="none"
                  ng-attr-d="{{chart.dataPath}}"
                  stroke="#7cb5ec" stroke-width="2" zIndex="1" stroke-linejoin="round" stroke-linecap="round"></path>
            <path fill="none"
                  d="413 232.77999999999997 L 386.3818431892815 184.868 L 397.34226069957737 160.46 L 413 91.756 L 423 91.756"
                  stroke-linejoin="round" visibility="visible" stroke="rgba(192,192,192,0.0001)" stroke-width="22"
                  zIndex="2"></path>
        </g>
        <g visibility="visible" zIndex="0.1" clip-path="none">
            <path fill="#434348" ng-repeat="marker in chart.markerPathArr"
                  ng-attr-d="{{marker}}"></path>
        </g>
    </g>
    <text x="420" text-anchor="middle" zIndex="4"
          style="color:#333333;font-size:18px;fill:#333333;width:936px;" y="25">
        <tspan>Test Radar</tspan>
    </text>
    <g zIndex="7" transform="translate(856,80)">
        <g zIndex="1">
            <g>
                <g zIndex="1" transform="translate(8,3)">
                    <path fill="none" d="M 0 11 L 16 11" stroke="#7cb5ec" stroke-width="2"></path>
                    <path fill="#7cb5ec"
                          d="M 8 7 C 13.328 7 13.328 15 8 15 C 2.6719999999999997 15 2.6719999999999997 7 8 7 Z"></path>
                    <text x="21" style="color:#333333;font-size:12px;font-weight:bold;cursor:pointer;fill:#333333;"
                          text-anchor="start" zIndex="2" y="15">
                        <tspan>Allocated Budget</tspan>
                    </text>
                </g>
                <g zIndex="1" transform="translate(8,17)">
                    <path fill="none" d="M 0 11 L 16 11" stroke="#434348" stroke-width="2"></path>
                    <path fill="#434348" d="M 8 7 L 12 11 8 15 4 11 Z"></path>
                    <text x="21" y="15"
                          style="color:#333333;font-size:12px;font-weight:bold;cursor:pointer;fill:#333333;"
                          text-anchor="start" zIndex="2">
                        <tspan>Actual Spending</tspan>
                    </text>
                </g>
            </g>
        </g>
    </g>
</svg>