<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ng1 charts demo</title>
    <script src="//cdn.bootcss.com/angular.js/1.4.5/angular.min.js"></script>
    <base href="/">
    
    <style>
        .chart {
            float: left;
            width: 50%;
        }
    </style>
</head>
<body>
<div ng-app="chart">
    <div ng-controller="ChartController">
        <ol>
            <li ng-repeat="chart in charts">
                <ul>
                    <li ng-repeat="item in chart.data"><input type="number" ng-model="item"/></li>
                </ul>
            </li>
        </ol>

        <div class="chart">
            <ng-bar-chart data="charts"></ng-bar-chart>
        </div>
        <div class="chart">
            <ng-line-chart data="charts"></ng-line-chart>
        </div>
        <div class="chart">
            <ng-pie-chart data="charts" radius="100"></ng-pie-chart>
        </div>
        <div class="chart">
            <ng-radar-chart data="charts"></ng-radar-chart>
        </div>
    </div>
</div>
</body>
</html>